.site-footer{
  height: $navbar-height;
  color: #fff;
  background: $dark;
  margin: 0;
  overflow: hidden;
  clear: both;
  font-family: $sans;
  .copyright{
    margin: 0;
  }
  .social{
    text-align: right;
    float: right;
  }
  .copyright, .social{
    display: inline;
    line-height: $navbar-height;
    font-size: $navbar-height/3;
  }
}