.site-footer{
  height: $navbar-height;
  margin: 0;
  font-family: $sans;
  position: relative;
  .copyright{
    margin: 0;
  }
  .copyright, .social{
    white-space: nowrap;
    display: inline;
    line-height: $navbar-height;
    font-size: $navbar-height/3;
  }
}

.social{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: $navbar-height;
  li{
    text-align: center;
    display: inline-block;
  }
  li + li{
    margin-left: -3px;
  }
  a{
    display: block;
    height: $navbar-height;
    min-width: $navbar-height;
    padding: 0;
  }
}