.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  height: $navbar-height;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  background: $dark;
  padding: 0;
  border-bottom: 3px solid black;
  nav{
    float: right;
    text-align: right;
    height: 100%;
    font-size: $navbar-height - ($navbar-height/2);
  }
  li{
    height: 100%;
    line-height: $navbar-height;
    padding: 0;
    margin: 0;
  }
  a{
    color: $light;
    background: transparent;
    position: relative;
    z-index: 9;
    padding: (($navbar-height - ($navbar-height/5))/2);
    &:hover{
      color: $dark;
      background: rgba(255,255,255,0.8);
    }
    &.active, &:active{
      color: $dark;
      background: $light;
    }
  }
}

.brand{
  display: inline-block;
  margin: 0 0 0 ($space*(2rem))*-1;
  font-size: $navbar-height - ($navbar-height/2);
  line-height: $navbar-height;
  & a{
    padding-left: ($space*2rem);
    color: $dark;
    background: rgba(255,255,255,0.9);
    &:hover{
      color: $dark;
      background: $light;
    }
  }
}