.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background: #fff;
  height: $navbar-height;
  width: 100%;
  overflow: hidden;
  font-family: $sans;
  font-weight: 300;
  border-bottom: 3px solid $dark;

  nav{
    float: right;
    text-align: right;
    height: 100%;
    font-size: $navbar-height - ($navbar-height/2);
  }
  li{
    height: 100%;
    line-height: $navbar-height;
    padding: 0;
    margin: 0;
  }
  a{
    color: $dark;
    position: relative;
    z-index: 9;
    padding: (($navbar-height - ($navbar-height/5))/2);
    &:hover{
      border-bottom: 3px solid $primary;
    }
  }
}

.brand{
  display: inline;
  margin: 0;
  font-size: $navbar-height - ($navbar-height/2);
  line-height: $navbar-height;
  text-transform: uppercase;
  & a{
    padding-left: 0;
  }
}