.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  height: $navbar-height;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  background: $dark;
  padding: 0;
  border-bottom: 3px solid $light;
  white-space: nowrap;
  nav{ 
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    height: 100%;
    font-size: $navbar-height/4;
  }
  li{
    height: 100%;
    line-height: $navbar-height;
    padding: 0;
    margin: 0;
  }
  a{
    color: $light;
    background: transparent;
    position: relative;
    z-index: 9;
    padding: (($navbar-height - ($navbar-height/5))/2);
    &:hover{
      color: $dark;
      background: rgba(255,255,255,0.8);
    }
    &.active, &:active{
      color: $dark;
      background: $light;
    }
  }
}

.brand{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  min-width: 33.56%;
  font-size: $navbar-height - ($navbar-height/2);
  line-height: $navbar-height;
  text-align: center;
  border-right: 3px solid $light;
  background: rgba(255,255,255,0.9);
  & a{
    padding: 0;
    width: 100%;
    display: block;
    color: $dark;
  }
  &:hover{
    background: $light;
    a{
      color: $dark;
    }
  }
}