// Color
$primary: #00c281;
$secondary: #fa9;
$dark: #000;
$light: #fff;


// Type
$sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

$body-font-size:    20px;
$body-line-height:  $perfect-fifth;
$scale-factor:      $minor-third;
$ie8compatability:  false;

// Layout
$space: $body-line-height;
$navbar-height: $space*2rem;

// Animation
$duration: 300ms;

// Breakpoints
$tablet: 768px;