#landing{
  margin-top: $navbar-height;
  background-image: url('../imgs/DeathtoStock_Band6.jpg');
  background-position: top left;

  article{
    flex: 2;
  }
  .headshot{
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#spaces{
  .section-header{
    background-image: url('../imgs/DeathtoStock_Band6.jpg');
  }
  figure{
    position: relative;
    min-height: 50%;
    min-height: 50vh;
    flex-basis: 30%;
    overflow: hidden;
    padding: 0 $space*1rem;
    &:hover{
      .shy{
        opacity: 1;
      }
    }
  }
  .shy, img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  img{
    z-index: -1;
    width: auto;
  }
  .shy{
    padding: $space*3rem $space*1rem 0 $space*1rem;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    overflow: auto;
  }
  h3{
    text-transform: uppercase;
  }
}

#nic{
  background-image: url('../imgs/nic-of-time.png');
  background-position: center center;
}