#landing{
  margin-top: $navbar-height;
  background-image: url('../imgs/DeathtoStock_Band6.jpg');
  background-position: top left;

  article{
    flex: 2;
  }
  .headshot{
    display: none;
  }
}

#spaces{
  align-content: flex-start;
  .section-header{
    background-image: url('../imgs/DeathtoStock_Band1.jpg');
  }
  figure{
    position: relative;
    overflow: hidden;
    padding: 0 $space*1rem;
    &:hover{
      .shy{
        opacity: 1;
      }
    }
  }
  figure + figure{
    border-left: 3px solid $light;
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  img{
    z-index: -1;
    width: auto;
  }
  h3{
    text-transform: uppercase;
  }
  @media screen and (min-width: $lap) {
    .shy{
      opacity: 0;
      overflow: auto;
    }
  }
}
#nic{
  background-image: url('../imgs/nic-of-time.png');
  background-position: center center;
}
#vital{
  background-image: url('../imgs/vital-sounds.jpg');
  background-position: center center;
}

#quote{
  background-image: url('../imgs/DeathtoStock_Band10.jpg');
  background-position: top right;
}

#contact{
  .block+.block{
    border-left: 3px solid $light;
  }
}