.backgrounded{
  text-shadow: 0 0 5px rgba(0,0,0,0.9);
  background-size: cover;
  background-repeat: no-repeat;
}

.reversed{
  color: $dark;
  background: #dfdfdf;
}

.section-header{
  @extend .backgrounded;
  background-position: center center;
  margin: 0;
  padding: ($space*2rem) 0;
  height: 50%;
  height: 50vh;
}