html { @include khtml(); }

body { 
  @include kbody(); 
  font-family: $sans;
  font-weight: 300;
}

%headings{
  font-weight: 700;
  font-family: $sans;
}

h1 { 
  @include ktype(5, 1, 1);
  @extend %headings;
}
h2 { 
  @include ktype(4, 1, 1);
  @extend %headings; 
}
h3 { 
  @include ktype(3, 1, 1);
  @extend %headings;
  @extend %small-headings; 
}
h4 { 
  @include ktype(2, 1, 1);
  @extend %headings;
  @extend %small-headings; 
}
h5 { 
  @include ktype(1, 1, 0);
  @extend %headings;
  @extend %small-headings; 
}
h6 { 
  @include ktype(0, 1, 0);
  @extend %headings;
  @extend %small-headings;
  font-weight: normal;
  text-transform: capitalize;
}

%small-headings{
  margin-bottom: 0;
}

%base-type{
  @include ktype(0,0,1);
}

p{
  @extend %base-type;
  &.lead{
    @include ktype(2, 1, 1);
    font-family: $sans;
    font-weight: 400;
  }
}

a{
  text-decoration: none;
  color: $dark;
  background: transparentize($light, 0.1);
  text-shadow: none;
  padding: 0 $space*0.5rem;
  &:hover{
    background: $light;
  }
  &:active{
    color: $light;
    background: $dark;
  }
}

ul, ol {
  @extend %base-type;
}

small { @include ktype(-1,0,1); }

blockquote{
  p{
    font-family: $fancy;
    @include ktype(4, 1, 1);
  }
  cite{
    float: right;
    @include ktype(2, 1, 1);
    text-transform: uppercase;
    font-weight: 500;
  }
}